#skills{
    overflow: hidden;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:3rem 0;
}

.skills-header{
    max-width: 70rem;
    width: 100%;
    align-items: left;
    margin:0;
}

.skills-header h1{
    margin: .5rem 0;
}

.skills-content{
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    /* perspective: 500px; */
}

.skills-logo{
    perspective: 700px;
    margin: 2rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-logo-container-pink,
.skills-logo-container-blue,
.skills-logo-container-purple{
    cursor: pointer;
    width: 7rem;
    padding: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 7s infinite linear;
    transform-style: preserve-3d;
}

.skills-logo-container-pink{
    background-image: url('../../assets/ball/pink-ball.png'); 
}
.skills-logo-container-blue{
    background-image: url('../../assets/ball/blue-ball.png');
}
.skills-logo-container-purple{
    background-image: url('../../assets/ball/purple-ball.png');
}

/* @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  } */

  @keyframes spin {
    0% {
        transform: rotateY(0deg) translateZ(0);
    }
    50% {
        transform: rotateY(180deg) translateZ(1rem); /* Moves the image outwards at half rotation */
    }
    100% {
        transform: rotateY(360deg) translateZ(0); /* Returns to the original position */
    }
}


@media screen and (max-width: 720px) {
    .skillBarText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .skillBarText>p{
        font-size: 3vw;
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText{
        font-size: 5vw;
    }
}