*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    cursor: crosshair;
    font-family: 'poppins', sans-serif;
}

body{
    background: rgb(30, 30, 30); 
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

h1{
    font-size:2rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}