#intro{
    overflow: hidden;
    height: calc(100vh - 5rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content{
    width: 100%;
    max-width: 59vw;
    margin:0;
}

.intro-content-body{
    background-color: rgba(30,30,30,0);
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0;
    height: auto;
}

.intro-photo{
    position:absolute;
    top:0rem;
    right: 12rem;
    z-index: -1;
    object-fit: cover;
    height:85%;
}

.intro-text-intro {
    font-size: 5rem;
    font-weight: 800;
    margin:0;
    margin-bottom: -20px;
}

.intro-text-name{
    font-size: 5rem;
    font-weight: 800;
    color:#2e5090;
    margin:0;
}

.intro-text-sub{
    font-size: 1.8rem;
    font-weight: 200;
    margin-top: 10px;
}

.intro-button{
    width: 10rem;
    background-color: pink;
    background: #333333;
    margin: 1rem 0;
    margin-right: 1rem;
    padding: 0.75rem 1.5rem;
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.intro-button:hover{
    transform: scale(1.05);
}

.intro-btnImg{
    object-fit:cover;
    margin:0 0.25rem;
    height: 0.8rem;
    cursor: pointer;
}

.intro-content-link{
    margin: 5px 0;
    width: 30%;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    /* justify-content: space-between; */
}

.intro-content-link-icon{
    display: flex;
    /* background-color: pink; */
}

.intro-content-link a{
    display: inline-flex;
    align-items: center; 
    text-decoration: none; 
}

.intro-link-icons{
    height: 2rem;
    cursor:pointer;
    transition: transform 0.3s ease; 
    display: block;
    margin: 0 1rem 0 0;
}

.intro-link-icons:hover{
    transform: scale(1.1); 
     
}



#intro-typing{
    font-size: 1.8rem;
    font-weight: 00;
}

#intro-typing span{
    color: #2e5090;
    font-weight: 600;
}

.cursor {
    font-weight: bold;
    animation: blink 1s infinite;
    color: #2e5090;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#dynamic-text {
    display: inline-block;
    margin-left: 5px;
}



@media screen and (max-width: 1490px) and (min-width: 1280px){
    .intro-text-intro {
        font-size: 3rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 3rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1rem;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .intro-content-body{
        width:40%;
    }


    .intro-button{
        width: 10rem;
        background-color: pink;
        background: #333333;
        margin: .5rem 0;
        margin-right: 1rem;
        padding: 0.6rem 1.0rem;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .intro-content-link{
        /* background-color: pink; */
        margin: 5px 0;
        width: 33%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    #intro-typing{
        font-size: 1.4rem;
        font-weight: 00;
    }

    .intro-photo{
        position:absolute;
        top:5rem;
        right: 14rem;
        z-index: -1;
        object-fit: cover;
        height:70%;
    }
    
}

@media screen and (max-width: 1280px) and (min-width: 1100px){
    .intro-photo{
        position:absolute;
        top:4rem;
        right: 16rem;
        z-index: -1;
        object-fit: cover;
        height:75%;
    }
    .intro-text-intro {
        font-size: 3rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 3rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1rem;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .intro-content-body{
        width:40%;
    }

    .intro-button{
        width: 10rem;
        background-color: pink;
        background: #333333;
        margin: .5rem 0;
        margin-right: 1rem;
        padding: 0.6rem 1.0rem;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    

    .intro-content-link{
        /* background-color: pink; */
        margin: 5px 0;
        width: 38%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }
    #intro-typing{
        font-size: 1.3rem;
        font-weight: 00;
    }

    .intro-photo{
        position:absolute;
        top:6rem;
        right: 8rem;
        z-index: -1;
        object-fit: cover;
        height:67%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 1024px){
    .intro-photo{
        position:absolute;
        top:9rem;
        right: 9rem;
        z-index: -1;
        object-fit: cover;
        height:60%;
    }
    .intro-text-intro {
        font-size: 2.8rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.8rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1rem;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .intro-content-body{
        width:40%;
    }

    .intro-button{
        width: 9rem;
        background-color: pink;
        background: #333333;
        margin: .5rem 0;
        margin-right: 1rem;
        padding: 0.6rem .7rem;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .intro-content-link{
        /* background-color: pink; */
        margin: 5px 0;
        width: 42%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    #intro-typing{
        font-size: 1.2rem;
        font-weight: 00;
    }
}

@media screen and (max-width: 1024px) and (min-width: 910px){
    .intro-photo{
        position:absolute;
        top:12rem;
        right: 9rem;
        z-index: -1;
        object-fit: cover;
        height:52%;
    }
    .intro-text-intro {
        font-size: 2.4rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.4rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: .9rem;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .intro-content-body{
        width:40%;
    }

    .intro-button{
        width: 10rem;
        background-color: pink;
        background: #333333;
        margin: .5rem 0;
        margin-right: 1rem;
        padding: 0.6rem 1.0rem;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .intro-content-link{
        /* background-color: pink; */
        margin: 5px 0;
        width: 42%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .intro-link-icons{
        height: 1.7rem;
    }

    #intro-typing{
        font-size: .9rem;
        font-weight: 00;
    }
}


@media screen and (max-width: 910px) and (min-width: 768px){
    .intro-photo{
        position:absolute;
        top:9rem;
        right: 2rem;
        z-index: -1;
        object-fit: cover;
        height:60%;
    }
    .intro-text-intro {
        font-size: 3.2rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 3.2rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1.1rem;
        font-weight: 200;
        margin-top: 10px;
    }

    .intro-content{
        max-width: 80vw;
        /* background-color: pink; */
    }
    
    .intro-content-body{
        width:45%;
    }

    .intro-button{
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        margin: .5rem 0;
        padding: 0.6rem 1.8rem;
    }

    .intro-content-link{
        /* background-color: pink; */
        margin: 5px 0;
        width: 42%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .intro-link-icons{
        height: 1.9rem;
    }

    #intro-typing{
        font-size: 1.1rem;
        font-weight: 00;
    }
}





@media screen and (max-width: 768px){
    #intro{
        overflow-x: hidden;
        width: auto;
    }
    
    .intro-photo{
        position:absolute;
        top:16rem;
        right: 0;
        z-index: -1;
        object-fit: cover;
        height:60%;
        width: 90%;
        overflow-x: hidden;  /* Prevent horizontal scrolling */
    }
    .intro-text-intro {
        font-size: 2.8rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.8rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1rem;
        font-weight: 200;
        margin-top: -10px;
    }

    .intro-content{
        max-width: 90vw;
    }
    
    .intro-content-body{
        width:70%;
        margin-top: -22rem;
    }

    .intro-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        margin: 0rem 0 .5rem 0;
        padding: 0.5rem 1.4rem;
    }

    .intro-content-link{
        margin: 5px 0;
        width: 58%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: start;
    }

    .intro-content-link-icon{
        display: flex;
    }

    .intro-link-icons{
        height: 1.5rem;
        margin-right: .5rem;
    }

    #intro-typing{
        font-size: 1rem;
    }
}

@media screen and (width: 375px){
    .intro-content-body{
        width:70%;
        margin-top: -16rem;
    }
    .intro-text-intro {
        font-size: 2.4rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.4rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: .9rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: .9rem;
    }
}


@media screen and (width: 414px){
    .intro-content-body{
        width:70%;
        margin-top: -22rem;
    }
    .intro-text-intro {
        font-size: 2.4rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.4rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: .9rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: .9rem;
    }
}

@media screen and (width: 430px){
    .intro-content-body{
        width:70%;
        margin-top: -23rem;
    }
    .intro-text-intro {
        font-size: 2.4rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 2.4rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: .9rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: .9rem;
    }
}

@media screen and (width: 768px){
    .intro-photo{
        position:absolute;
        top:22rem;
        right: 0;
        z-index: -1;
        object-fit: cover;
        height:60%;
        width: 90%;
        overflow-x: hidden;  /* Prevent horizontal scrolling */
    }

    .intro-content-body{
        width:70%;
        margin-top: -28rem;
    }

    .intro-text-intro {
        font-size: 3.6rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 3.6rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1.4rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: 1.4rem;
    }
}

@media screen and (width: 820px){
    .intro-photo{
        position:absolute;
        top:24rem;
        right: 0;
        z-index: -1;
        object-fit: cover;
        height:60%;
        width: 90%;
        overflow-x: hidden;  /* Prevent horizontal scrolling */
    }

    .intro-content-body{
        width:70%;
        margin-top: -30rem;
    }

    .intro-button{
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        margin: .5rem 1rem .5rem 0;
        padding: 0.6rem 1.8rem;
    }

    .intro-text-intro {
        font-size: 3.8rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 3.8rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 1.5rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: 1.5rem;
    }
}

@media screen and (width: 1024px){
    .intro-photo{
        position:absolute;
        top:28rem;
        right: 0;
        z-index: -1;
        object-fit: cover;
        height:60%;
        width: 87%;
        overflow-x: hidden;  /* Prevent horizontal scrolling */
    }

    .intro-content{
        width: 100%;
        max-width: 90vw;
        margin:0;
    }

    .intro-content-link{
        margin: 5px 0;
        width: 30%;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        /* justify-content: space-between; */
    }

    .intro-button{
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        margin: .5rem 1rem 0.5rem 0;
        padding: 0.6rem 1.8rem;
    }


    .intro-content-body{
        width:70%;
        margin-top: -36rem;
    }

    .intro-text-intro {
        font-size: 5.2rem;
        font-weight: 800;
        margin:0;
        margin-bottom: -20px;
    }
    
    .intro-text-name{
        font-size: 5.2rem;
        font-weight: 800;
        color:#2e5090;
        margin:0;
    }
    
    .intro-text-sub{
        font-size: 2rem;
        font-weight: 200;
        margin-top: -10px;
    }

    #intro-typing{
        font-size: 2rem;
    }
}