#works{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: hidden ;
}

.works-header{
    max-width: 70rem;
    width: 100%;
    align-items: left;
    margin: 0;
}

.works-header h1{
    margin: .5rem 0;
}